.navigation__links-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1023.9px) {
    .navigation__links-list {
      flex-direction: column;
    }
}

.navigation__list-item {
   height: 60px;
   padding: 0 16px;
   cursor: pointer;
   transition: opacity .5s cubic-bezier(.27,.64,.81,.75);
}

.navigation__list-item:hover {
    opacity: .6;
}

.navigation__link {
   text-decoration: none;
   color: rgba(68, 68, 68, 1);
   font-size: 14px;
   line-height: 60px;
   box-sizing: border-box;
}