.footer {
    padding: 60px 0;
    border-top: 1px solid #DDDDDD;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 20px 0 40px;
    }
}

.footer__container {
    width: 1146px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
    .footer__container {
        width: 925px;
    }
}

@media screen and (max-width: 1024px) {
    .footer__container {
        width: auto;
        padding: 20px 20px 0;
        box-sizing: border-box;
    }
}